<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Mas de ville
			{% endblock %}
		</title>
		<link rel="stylesheet" href="{{ asset('css/style.css') }}">
		<link rel="stylesheet" href="{{ asset('css/parts.css') }}">
		<link rel="stylesheet" href="{{ asset('css/menu.css') }}">
		<meta charset="UTF-8">
		<meta property="og:title" content="Mas de Ville">
		<meta property="og:site_name" content="Assemblée de Nîmes Mas de Ville">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" href="{{ asset('medias/icons/books.png') }}">

		{% block nav %}
			<div class="nav">
				{% if app.request.pathinfo != '/' %}
					<a href="{{ path('app_main') }}">Retour accueil</a>
				{% else %}
                    Assemblée de Nîmes Mas de Ville
                {% endif %}

			</span>

			<span>
				<ul>
					<li class="{% if app.request.pathinfo == '/vcm' %}bold{% endif %}">
						<a href="{{ path('app_vcm') }}">
							<span>Réunion</span>
							<span>semaine</span>
						</a>
					</li>
					<li class="{% if app.request.pathinfo == '/we' %}bold{% endif %}">
						<a href="{{ path('app_we') }}">
							<span>Réunion</span>
							<span>weekend</span>
						</a>
					</li>
					<li class="{% if app.request.pathinfo == '/predication' %}bold{% endif %}">
						<a href="{{ path('app_predication') }}">Prédication</a>
					</li>
				</ul>
			</span>
		</head>
	</html>
</div>{% endblock %}{% block stylesheets %}
{{ encore_entry_link_tags('app') }}{% endblock %}{% block javascripts %}
{{ encore_entry_script_tags('menu.js') }}{% endblock %}</head><body>{% block body %}{% endblock %}</body><footer>{% block footer %}
<a href=""><img src="{{ asset('medias/icons/person.svg') }}" alt="icone1"></a>
<a href=""><img src="{{ asset('medias/icons/list-ul.svg') }}" alt="icone2"></a>
<span>{{ "now" | date("l d/m/Y") }}</span>{% endblock %}</footer></html>
